[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
alembic = "*"
marshmallow = "*"
huey = "*"
requests = "*"
redis = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.11"
